[defaults]
inventory = inventories/lab/hosts.yml
collections_path = ./.ansible/collections:~/.ansible/collections
roles_path = ./roles:~/.ansible/roles:/usr/share/ansible/roles
retry_files_enabled = false
stdout_callback = default
interpreter_python = auto_silent

[httpapi_connection]
timeout = 30