[defaults]
inventory = inventories/lab/hosts.yml
collections_path = ./.ansible/collections:~/.ansible/collections
retry_files_enabled = false
stdout_callback = default
interpreter_python = auto_silent

[httpapi_connection]
timeout = 30